* {
	transition: all .1s ease-in-out;
}

body, header, footer, section, div, table {
	/*display:inline-block;*/
	box-sizing: border-box;
	font-family: helvetica, arial, "sans serif";
	font-size:16px;
	line-height:1.5em;
	font-weight:400; 
	color: #ccc;
	border-collapse:collapse;
} 

body {
	width:100%;
	height:100vh;
	background: #22222f url(bganim.svg);
	margin:0px;
}

main {
	margin:0px 30px;
}

a {
	color:inherit;
	text-decoration:none;
	padding:10px 10px 10px 0;
}

a:hover {
	color:rgba(70,159,219,1);
	text-decoration:none;
	transform:;
}

ul {
	display:flex;
	justify-content:flex-start;
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
	/*border-left:2px solid #ccc;*/
	stroke-linecap:round;
	font-size:14px;
	line-height:normal;
	text-align:left;
	width:140px;
}

li {
	flex-grow:1;
	margin:0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:100px;
	line-height:normal;
}



.site-title {
	display: inline-block;
/*    position: absolute;
	left: 30px;
	top: 220px;*/
	font-size: 52px;
	letter-spacing: -1px;
	line-height: 47px;
	margin: 220px 0 0 0;
}

.nav-main {
	display:block;
	margin-left:0;
}

.hero {
	position: absolute;
	width: 80%;
	padding-bottom: 80%;
	float: right;
	height: 0;
	overflow: hidden;
	right: 0;
}

.hero-img-border {
	width: 100%;
	height: 100%;
	padding: 2px;
	position: absolute;
	background: linear-gradient(135deg, rgba(70,159,219,1) 0%,rgba(117,125,198,1) 47%,rgba(89,81,198,1) 100%);
	border-radius: 999px;
	float: right;
	right: -57px;
	top: -57px;
}

.hero-img-pad {
	vertical-align: middle;
	background: #22222f;
	padding: 20px;
	border-radius: 999px;
}

.hero-img {
	vertical-align:middle;
	background: linear-gradient(135deg, rgba(70,159,219,.8) 0%,rgba(117,125,198,.8) 47%,rgba(89,81,198,.8) 100%), url("me.jpeg") center center/cover no-repeat;
	width:100%;
	padding-bottom:100%;
	border-radius: 999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
}




